body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: red
}

body h1{
    color: magenta
}

nav {
    background-color: #333;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
    flex: 1;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

@media (max-width: 600px) {
    nav ul li {
        flex: 100%;
    }
}